Repository TEAM-HOUME/HOUME-CLIENT, pull requests merged in 2025-09, with the labels that each got.

#281 [refactor] 마이페이지 뷰 개선
  src/pages/generate/components/result/ResultPage.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/apis/mypage.ts
  src/pages/mypage/components/profile/ProfileSection.tsx
  src/pages/mypage/types/apis/MyPage.ts
Labels: 🤙 혜성, 🛠️ Refactor

#292 [docs] README 업데이트
  README.md
Labels: 🤙 경호, 📄 Docs

#282 [fix] bottom sheet 수정 및 드래그 핸들 기능 추가
  src/shared/components/bottomSheet/BottomSheetWrapper.css.ts
  src/shared/components/bottomSheet/BottomSheetWrapper.tsx
  src/shared/components/bottomSheet/flipSheet/FlipSheet.css.ts
  src/shared/components/bottomSheet/flipSheet/FlipSheet.tsx
  src/shared/components/bottomSheet/noMatchSheet/NoMatchSheet.css.ts
  src/shared/components/bottomSheet/noMatchSheet/NoMatchSheet.tsx
  src/shared/components/dragHandle/DragHandle.css.ts
  src/shared/components/dragHandle/DragHandle.tsx
  src/shared/constants/bottomSheet.ts
  src/shared/hooks/useBottomSheetDrag.ts
  src/stories/DragHandle.stories.tsx
  src/stories/NoMatchSheet.stories.tsx
Labels: 🤙 소이, 🔧 Fix, 🛠️ Refactor

#293 [refactor] imageSetup 타입 리팩토링
  src/pages/generate/components/loading/LoadingPage.tsx
  src/pages/generate/hooks/useGenerate.ts
  src/pages/home/HomePage.tsx
  src/pages/imageSetup/ImageSetup.tsx
  src/pages/imageSetup/api/activityInfoApi.ts
  src/pages/imageSetup/api/bottomSheetAddressApi.ts
  src/pages/imageSetup/api/floorPlanApi.ts
  src/pages/imageSetup/api/houseInfoApi.ts
  src/pages/imageSetup/api/interiorStyleApi.ts
  src/pages/imageSetup/apis/activityInfo.ts
  src/pages/imageSetup/apis/floorPlan.ts
  src/pages/imageSetup/apis/houseInfo.ts
  src/pages/imageSetup/apis/interiorStyle.ts
  src/pages/imageSetup/components/steps/activityInfo/ActivityInfo.tsx
  src/pages/imageSetup/components/steps/floorPlan/FloorPlan.tsx
  src/pages/imageSetup/components/steps/floorPlan/FloorPlanList.tsx
  src/pages/imageSetup/components/steps/houseInfo/HouseInfo.tsx
  src/pages/imageSetup/components/steps/interiorStyle/InteriorStyle.tsx
  src/pages/imageSetup/components/steps/interiorStyle/MoodBoard.tsx
  src/pages/imageSetup/components/steps/optionGroup/MultiOptionGroup.tsx
  src/pages/imageSetup/hooks/useActivityInfo.ts
  src/pages/imageSetup/hooks/useBottomSheetAddress.ts
  src/pages/imageSetup/hooks/useFloorPlan.ts
  src/pages/imageSetup/hooks/useHouseInfo.ts
  src/pages/imageSetup/hooks/useImageGeneration.ts
  src/pages/imageSetup/hooks/useInteriorStyle.ts
  src/pages/imageSetup/stores/useFunnelStore.ts
  src/pages/imageSetup/types/apis/activityInfo.ts
  src/pages/imageSetup/types/apis/bottomSheetAddress.types.ts
  src/pages/imageSetup/types/apis/houseInfo.ts
  src/pages/imageSetup/types/apis/interiorStyle.ts
  src/pages/imageSetup/types/funnel/activityInfo.ts
  src/pages/imageSetup/types/funnel/houseInfo.ts
  src/pages/imageSetup/types/funnel/index.ts
  src/pages/imageSetup/types/funnel/options.ts
  src/pages/imageSetup/types/funnel/steps.ts
  src/pages/imageSetup/types/funnel/validation.ts
  src/pages/signup/SignupCompletePage.tsx
  src/routes/paths.ts
  src/routes/router.tsx
  src/shared/apis/queryClient.ts
  src/shared/apis/staticDataPrefetch.ts
  src/shared/constants/apiEndpoints.ts
  src/shared/hooks/.gitkeep
Labels: 🤙 지성, 🛠️ Refactor

#304 [style] 디자인 시스템 추가
  src/shared/styles/tokens/color.css.ts
  src/shared/styles/tokens/font.css.ts
Labels: 🎨 Style, 🤙 소이

#318 [refactor] generate 폴더 구조 변경
  src/pages/generate/pages/loading/LoadingPage.css.ts
  src/pages/generate/pages/loading/LoadingPage.tsx
  src/pages/generate/pages/loading/ProgressBar.tsx
  src/pages/generate/pages/result/ResultPage.css.ts
  src/pages/generate/pages/result/ResultPage.tsx
  src/routes/router.tsx
Labels: 🤙 소이, 🛠️ Refactor

#311 [Style] 캡션 공컴 구현
  src/pages/imageSetup/components/caption/Caption.css.ts
  src/pages/imageSetup/components/caption/Caption.tsx
  src/pages/imageSetup/components/caption/CaptionChip.css.ts
  src/pages/imageSetup/components/caption/CaptionChip.tsx
  src/pages/imageSetup/components/optionGroup/MultiOptionGroup.tsx
  src/shared/components/text/Caption.css.ts
  src/shared/components/text/Caption.tsx
  src/stories/Caption.stories.ts
  src/stories/Caption.stories.tsx
  src/stories/CaptionChip.stories.tsx
Labels: 🎨 Style, 🤙 지성

#312 [style] Toast 컴포넌트 디자인 추가
  src/pages/imageSetup/pages/floorPlan/FloorPlanList.tsx
  src/shared/components/creditBox/CreditBox.tsx
  src/shared/components/overlay/modal/Modal.tsx
  src/shared/components/toast/Toast.css.ts
  src/shared/components/toast/Toast.tsx
  src/shared/components/toast/ToastTest.tsx
  src/shared/components/toast/useToast.tsx
  src/shared/hooks/useCreditGuard.ts
  src/shared/hooks/useErrorHandler.ts
  src/shared/types/toast.ts
  src/stories/Popup.stories.tsx
  src/stories/Toast.stories.tsx
Labels: 🎨 Style, 🤙 지성

#324 [feat] cardProduct 컴포넌트 구현
  src/shared/assets/icons/icnHeartColor.svg
  src/shared/assets/icons/icnHeartGray.svg
  src/shared/assets/icons/icnLink.svg
  src/shared/assets/images/cardExImg.svg
  src/shared/components/button/linkButton/LinkButton.css.ts
  src/shared/components/button/linkButton/LinkButton.tsx
  src/shared/components/button/saveButton/SaveButton.css.ts
  src/shared/components/button/saveButton/SaveButton.tsx
  src/shared/components/card/cardProduct/CardProduct.css.ts
  src/shared/components/card/cardProduct/CardProduct.tsx
Labels: 💫 Feature, 🤙 소이
