Repository TEAM-HOUME/HOUME-CLIENT, pull requests merged in 2025-07, with the labels that each got.

#18 [chore] Storybook 설정
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/stories/Introduction.mdx
  vite.config.ts
  vitest.shims.d.ts
Labels: 🤙 경호, ⚙️ Setting

#29 [deploy] CI/CD 파이프라인 구축 및 배포
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  README.md
  build.sh
  package.json
  src/stories/Introduction.mdx
  vercel.json
  vitest.shims.d.ts
Labels: 🌐 Deploy, 🤙 지성

#27 [chore] SVGR 설정
  package.json
  pnpm-lock.yaml
  src/vite-env.d.ts
  vite.config.ts
Labels: 🤙 경호, ⚙️ Setting

#22 [chore]vanilla extract 초기 세팅
  package.json
  pnpm-lock.yaml
  public/fonts/Pretendard-Medium.woff2
  public/fonts/Pretendard-Regular.woff2
  public/fonts/Pretendard-SemiBold.woff2
  src/shared/styles/fontFace.css.ts
  src/shared/styles/fontStyle.ts
  src/shared/styles/global.css.ts
  src/shared/styles/reset.css.ts
  src/shared/styles/tokens/color.css.ts
  src/shared/styles/tokens/font.css.ts
  vite.config.ts
Labels: ⚙️ Setting, 🤙 혜성

#28 [chore] 라우팅 설정
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/layout/RootLayout.tsx
  src/pages/generate/GeneratePage.tsx
  src/pages/home/HomePage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/onboarding/OnboardingPage.tsx
  src/pages/signup/SignupPage.tsx
  src/routes/ProtectedRoute.tsx
  src/routes/paths.ts
  src/routes/router.tsx
Labels: 🤙 경호, ⚙️ Setting

#57 chore: 디자인 시스템 수정사항 반영
  src/main.tsx
  src/shared/styles/.gitkeep
  src/shared/styles/fontFace.css.ts
  src/shared/styles/global.css.ts
  src/shared/styles/tokens/color.css.ts
Labels: ⚙️ Setting, 🤙 혜성

#62 [fix] Storybook 빌드 에러 해결
  package.json
Labels: 🤙 소이, 🔧 Fix

#58 [feat] Modal 컴포넌트 구현
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/shared/components/.gitkeep
  src/shared/components/overlay/Modal.css.ts
  src/shared/components/overlay/Modal.stories.tsx
  src/shared/components/overlay/Modal.tsx
  src/shared/components/overlay/OverlayTest.tsx
Labels: 💫 Feature, 🤙 지성

#63 [feat] like button 컴포넌트 구현
  src/pages/home/HomePage.tsx
  src/shared/assets/icons/likeIcon.svg
  src/shared/components/button/chargeButton/ChargeButton.tsx
  src/shared/components/button/likeButton/LikeButton.css.ts
  src/shared/components/button/likeButton/LikeButton.tsx
  src/stories/LikeButton.stories.tsx
Labels: 💫 Feature, 🤙 소이

#67 [feat] filled button 구헌
  src/shared/components/button/largeFilledButton/LargeFilledButton.css.ts
  src/shared/components/button/largeFilledButton/LargeFilledButton.tsx
  src/shared/components/button/smallFilledButton/SmallFilledButton.css.ts
  src/shared/components/button/smallFilledButton/SmallFilledButton.tsx
  src/stories/LargeFilled.stories.tsx
  src/stories/SmallFilled.stories.tsx
Labels: 💫 Feature, 🤙 소이

#72 [feat] Popup 컴포넌트 구현
  src/shared/components/overlay/Modal.css.ts
  src/shared/components/overlay/Modal.tsx
  src/shared/components/overlay/modal/Modal.css.ts
  src/shared/components/overlay/modal/Modal.stories.tsx
  src/shared/components/overlay/modal/Modal.tsx
  src/shared/components/overlay/modal/OverlayTest.tsx
  src/shared/components/overlay/popup/Popup.stories.tsx
  src/shared/components/overlay/popup/Popup.tsx
  src/shared/components/overlay/popup/PopupTest.tsx
  src/shared/components/toast/Toast.css.ts
Labels: 💫 Feature, 🤙 지성

#86 [chore] 코드 래빗 리뷰 프롬프트 최적화
  .coderabbit.yaml
Labels: 🤙 경호, ⚙️ Setting

#96 [feat] card image 컴포넌트 구현
  public/images/example.png
  src/shared/assets/images/example.png
  src/shared/components/card/cardImage/CardImage.css.ts
  src/shared/components/card/cardImage/CardImage.tsx
  src/stories/CardImage.stories.tsx
Labels: 💫 Feature, 🤙 성하

#103 [fix] Reset css 빌드 오류 해결
  src/shared/styles/reset.css.ts
Labels: 🤙 경호, 🔧 Fix

#99 [feat] card history 컴포넌트 구현
  public/images/example.png
  src/shared/assets/images/example.png
  src/shared/components/card/cardHistory/CardHistory.css.ts
  src/shared/components/card/cardHistory/CardHistory.tsx
  src/stories/CardHistory.stories.tsx
Labels: 💫 Feature, 🤙 성하

#101 [feat] floor card 컴포넌트 구현
  public/images/ floorExample.png
  public/images/example.png
  src/shared/components/card/floorCard/FloorCard.css.ts
  src/shared/components/card/floorCard/FloorCard.tsx
  src/stories/FloorCard.stories.tsx
Labels: 💫 Feature, 🤙 성하

#114 [style] error 상태 border 색상 변경
  src/shared/components/button/largeFilledButton/LargeFilledButton.css.ts
  src/shared/components/button/largeFilledButton/LargeFilledButton.tsx
  src/shared/components/textField/TextField.css.ts
Labels: 🎨 Style, 🤙 소이

#120 [feat] 디자인 토큰 폰트 추가
  src/shared/styles/tokens/font.css.ts
Labels: 💫 Feature, 🤙 혜성

#123 [style] 글로벌 CSS 전체 배경색 수정
  src/shared/styles/global.css.ts
Labels: 🤙 경호, 🎨 Style

#125 [fix] 캡션 공통 컴포넌트 높이 차이 수정
  src/shared/components/text/Caption.css.ts
Labels: 🤙 경호, 🔧 Fix

#129 [style] LogoNavBar 높이값 수정
  src/shared/components/navBar/LogoNavBar.css.ts
Labels: 🎨 Style, 🤙 성하, 🔧 Fix

#136 [Feat] 퍼널 페이지 헤더 컴포넌트 구현
  src/pages/generate/components/header/FunnelHeader.css.ts
  src/pages/generate/components/header/FunnelHeader.tsx
  src/pages/generate/components/steps/HouseInfoStep.css.ts
  src/pages/generate/components/steps/HouseInfoStep.tsx
  src/pages/generate/components/steps/optionGroup/OptionGroup.tsx
  src/pages/generate/utils/.gitkeep
Labels: 💫 Feature, 🤙 지성

#138 [refactor] onboarding 폴더 아래 폴더명, 파일명 및 폴더구조 수정
  src/pages/generate/Generate.tsx
  src/pages/onboarding/ImageGenerationFunnel.tsx
  src/pages/onboarding/OnboardingPage.tsx
  src/pages/onboarding/components/header/FunnelHeader.css.ts
  src/pages/onboarding/components/header/FunnelHeader.tsx
  src/pages/onboarding/components/steps/optionGroup/OptionGroup.tsx
  src/pages/onboarding/components/steps/step1/Step1HouseInfo.css.ts
  src/pages/onboarding/components/steps/step1/Step1HouseInfo.tsx
  src/pages/onboarding/components/steps/step2/Step2HouseStructure.tsx
  src/pages/onboarding/components/steps/step3/Step3InteriorTaste.tsx
  src/pages/onboarding/components/steps/step4/Step4MainActivity.tsx
  src/pages/onboarding/hooks/useImageGenerationFunnel.hooks.ts
  src/pages/onboarding/hooks/useStep1HouseInfo.hooks.ts
  src/pages/onboarding/types/funnel/index.ts
  src/pages/onboarding/types/funnel/options.ts
  src/pages/onboarding/types/funnel/steps.ts
  src/pages/onboarding/types/funnel/validation.ts
  src/pages/onboarding/utils/.gitkeep
  src/routes/router.tsx
Labels: 🤙 지성, 🛠️ Refactor

#148 [feat] onboarding 페이지 공통 레이아웃 컴포넌트 추가
  src/pages/onboarding/ImageGenerationFunnel.tsx
  src/pages/onboarding/components/layout/FunnelLayout.tsx
  src/pages/onboarding/hooks/useImageGenerationFunnel.hooks.ts
Labels: 💫 Feature, 🤙 지성

#158 [style] Pretendard 폰트 파일 업데이트
  public/fonts/Pretendard-Medium.woff2
  public/fonts/Pretendard-Regular.woff2
  public/fonts/Pretendard-SemiBold.woff2
Labels: 🤙 경호, 🎨 Style

#161 [deploy] @storybook/addon-vitest 옵션 주석 처리
  .storybook/main.ts
Labels: 🌐 Deploy, 🤙 성하

#169 [feat] 소셜 로그인 뷰 구현
  src/pages/login/LoginPage.tsx
  src/pages/login/loginPage.css.ts
Labels: 💫 Feature, 🤙 성하

#184 [fix] Storybook main.js ESM 형식 전환
  .storybook/main.js
Labels: 🤙 성하, 🔧 Fix

#177 [style] TitleNavBar 디자인 변경사항 반영
  src/shared/components/navBar/TitleNavBar.css.ts
  src/shared/components/navBar/TitleNavBar.tsx
Labels: 🎨 Style, 🤙 성하

#178 [feat] FloorPlan, MoodBoard 컴포넌트를 부모 컴포넌트와 통합 및 lifting state up 적용, 퍼널 플로우 구현 완료
  src/pages/onboarding/ImageGenerationFunnel.tsx
  src/pages/onboarding/OnboardingPage.tsx
  src/pages/onboarding/apis/step1.ts
  src/pages/onboarding/apis/step2.ts
  src/pages/onboarding/apis/step3.ts
  src/pages/onboarding/apis/step4.ts
  src/pages/onboarding/components/steps/step2/FloorPlan.tsx
  src/pages/onboarding/components/steps/step2/Step2FloorPlan.css.ts
  src/pages/onboarding/components/steps/step2/Step2FloorPlan.tsx
  src/pages/onboarding/components/steps/step2/Step2HouseStructure.tsx
  src/pages/onboarding/components/steps/step2/step2MockData.ts
  src/pages/onboarding/components/steps/step3/MoodBoard.tsx
  src/pages/onboarding/components/steps/step3/Step3InteriorTaste.tsx
  src/pages/onboarding/components/steps/step4/Step4MainActivity.tsx
  src/pages/onboarding/constants/step3.constants.ts
  src/pages/onboarding/hooks/useStep2FloorPlan.hooks.ts
  src/pages/onboarding/hooks/useStep2Queries.hooks.ts
  src/pages/onboarding/hooks/useStep3InteriorTaste.hooks.ts
  src/pages/onboarding/types/funnel/steps.ts
  src/shared/components/bottomSheet/noMatchSheet/NoMatchSheet.tsx
  src/stories/NoMatchSheet.stories.tsx
Labels: 💫 Feature, 🤙 지성

#173 [feat] 자체 회원가입 뷰 구현
  src/pages/signup/Signup.tsx
  src/pages/signup/SignupPage.css.ts
  src/pages/signup/SignupPage.tsx
  src/pages/signup/apis/.gitkeep
  src/pages/signup/components/.gitkeep
  src/pages/signup/constants/.gitkeep
  src/pages/signup/hooks/.gitkeep
  src/pages/signup/hooks/useSignupForm.ts
  src/pages/signup/types/.gitkeep
  src/pages/signup/types/formOptions.ts
  src/pages/signup/utils/.gitkeep
  src/pages/signup/utils/validation.ts
  src/routes/router.tsx
  src/shared/constants/clientErrorMessage.ts
Labels: 💫 Feature, 🤙 성하

#180 [feat] 무드보드 이미지 API 연동
  src/pages/onboarding/apis/MoodBoardImage.ts
  src/pages/onboarding/components/steps/step3/MoodBoard.tsx
  src/pages/onboarding/hooks/useMoodBoardImage.hooks.ts
  src/pages/onboarding/types/apis/moodBoard.ts
Labels: 💫 Feature, 🤙 성하

#190 [feat] 자체 회원가입 API 연동
  src/pages/login/LoginPage.tsx
  src/pages/login/hooks/useKakaoLogin.ts
  src/pages/signup/SignupPage.tsx
  src/pages/signup/apis/signup.ts
  src/pages/signup/hooks/usePatchSignup.ts
  src/pages/signup/types/apis/signup.ts
  src/pages/signup/types/formOptions.ts
Labels: 💫 Feature, 🤙 성하

#172 [feat] 랜딩페이지 뷰 구현
  src/pages/home/HomePage.css.ts
  src/pages/home/HomePage.tsx
  src/pages/home/components/introSection/IntroSection.css.ts
  src/pages/home/components/introSection/IntroSection.tsx
  src/pages/home/components/reviewSection/ReviewSection.css.ts
  src/pages/home/components/reviewSection/ReviewSection.tsx
  src/pages/home/components/stepGuideSection/StepGuideSection.css.ts
  src/pages/home/components/stepGuideSection/StepGuideSection.tsx
  src/pages/home/constants/reviewData.ts
  src/pages/home/types/options.ts
  src/pages/signup/SignupCompletePage.tsx
  src/shared/assets/icons/landingAIImage.png
  src/shared/assets/icons/landingInfoImage.png
  src/shared/components/button/smallFilledButton/SmallFilledButton.css.ts
  src/shared/components/button/smallFilledButton/SmallFilledButton.tsx
  src/shared/components/cardReview/CardReview.css.ts
  src/shared/components/navBar/LogoNavBar.css.ts
  src/shared/components/titleStep/TitleStep.css.ts
  src/shared/styles/tokens/color.css.ts
Labels: 💫 Feature, 🤙 소이, 🤙 혜성

#118 [feat] 마이페이지 뷰 구현
  public/images/cardImage.png
  src/pages/mypage/MyPage.css.ts
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/components/history/HistorySection.css.ts
  src/pages/mypage/components/history/HistorySection.tsx
  src/pages/mypage/components/profile/ProfileSection.css.ts
  src/pages/mypage/components/profile/ProfileSection.tsx
  src/pages/mypage/components/setting/SettingSection.css.ts
  src/pages/mypage/components/setting/SettingSection.tsx
  src/shared/assets/icons/me.svg
  src/shared/assets/images/emptyImage.png
  src/shared/components/creditBox/CreditBox.tsx
  src/stories/MyPage.stories.tsx
Labels: 💫 Feature, 🤙 혜성

#189 [fix] 모바일 환경에서 input 포커스 시 자동 확대 발생
  index.html
Labels: 🤙 경호, 🔧 Fix

#183 [style] Bottom Sheet에 drag handle action을 추가해 UX 개선
  src/shared/components/bottomSheet/flipSheet/FlipSheet.css.ts
  src/shared/components/bottomSheet/flipSheet/FlipSheet.tsx
  src/shared/components/bottomSheet/noMatchSheet/NoMatchSheet.css.ts
  src/shared/components/bottomSheet/noMatchSheet/NoMatchSheet.tsx
  src/shared/components/button/flipButton/FlipButton.tsx
  src/shared/components/dragHandle/DragHandle.css.ts
  src/shared/components/dragHandle/DragHandle.tsx
  src/shared/hooks/useBottomSheetDrag.ts
Labels: 🎨 Style, 🤙 소이

#212 [feat] 로그인 여부에 따른 NavBar 옵션 분기 처리
  src/pages/home/HomePage.css.ts
  src/pages/home/HomePage.tsx
  src/shared/components/navBar/LogoNavBar.css.ts
Labels: 💫 Feature, 🤙 성하

#216 [fix] git merge 오류 해결
  src/pages/home/HomePage.tsx
Labels: 🤙 성하, 🔧 Fix

#206 [feat] no match sheet api 연동
  src/pages/onboarding/apis/BottomSheetAddress.ts
  src/pages/onboarding/components/steps/step2/FloorPlan.tsx
  src/pages/onboarding/hooks/useBottomSheetAddress.ts
  src/pages/onboarding/types/apis/bottomSheetAddress.types.ts
  src/shared/components/bottomSheet/noMatchSheet/NoMatchSheet.tsx
Labels: 💫 Feature, 🤙 소이

#207 [feat] 랜딩페이지 이미지 생성이력 조회 API 연동
  src/pages/home/HomePage.tsx
  src/pages/home/apis/landing.ts
  src/pages/home/hooks/useLanding.ts
Labels: 💫 Feature, 🤙 소이

#220 [feat] 사용자 입력값 전역상태관리 로직 추가
  src/pages/generate/Generate.tsx
  src/pages/generate/apis/generate.ts
  src/pages/generate/components/result/ResultPage.css.ts
  src/pages/generate/components/result/ResultPage.tsx
  src/pages/generate/hooks/useGenerate.ts
  src/pages/onboarding/apis/step3.ts
  src/pages/onboarding/components/steps/step2/FloorPlan.tsx
  src/pages/onboarding/components/steps/step2/Step2FloorPlan.tsx
  src/pages/onboarding/components/steps/step3/MoodBoard.tsx
  src/pages/onboarding/components/steps/step4/Step4MainActivity.tsx
  src/pages/onboarding/hooks/useStep1Api.hooks.ts
  src/pages/onboarding/hooks/useStep1HouseInfo.hooks.ts
  src/pages/onboarding/hooks/useStep2FloorPlan.hooks.ts
  src/pages/onboarding/hooks/useStep3Api.hooks.ts
  src/pages/onboarding/hooks/useStep3InteriorTaste.hooks.ts
  src/pages/onboarding/hooks/useStep4MainActivity.hooks.ts
  src/pages/onboarding/stores/useFunnelStore.ts
  src/shared/components/text/HeadingText.css.ts
Labels: 💫 Feature, 🤙 지성

#218 [fix] 카카오 인증 헤더 예외처리 (+ Skeleton UI )
  src/pages/home/HomePage.tsx
  src/pages/onboarding/components/steps/step3/MoodBoard.tsx
  src/shared/apis/axiosInstance.ts
  src/shared/components/card/cardImage/CardImage.css.ts
  src/shared/components/card/cardImage/SkeletonCardImage.tsx
Labels: 🤙 성하, 🔧 Fix

#221 [feat] 전체 플로우에서 오류 처리 분기 개선
  src/pages/generate/Generate.tsx
  src/pages/generate/components/loading/LoadingPage.tsx
  src/pages/home/HomePage.tsx
  src/pages/home/components/introSection/IntroSection.css.ts
  src/pages/home/constants/reviewData.ts
  src/pages/login/KakaoCallback.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/components/history/HistorySection.tsx
  src/pages/mypage/hooks/useMypage.ts
  src/pages/mypage/types/apis/MyPageType.ts
  src/pages/onboarding/components/steps/step2/Step2FloorPlan.tsx
  src/pages/onboarding/components/steps/step3/MoodBoard.tsx
  src/pages/onboarding/components/steps/step3/Step3InteriorTaste.tsx
  src/pages/onboarding/components/steps/step4/Step4MainActivity.tsx
  src/pages/onboarding/hooks/useStep4MainActivity.hooks.ts
  src/shared/components/button/chargeButton/ChargeButton.tsx
  src/shared/components/button/smallFilledButton/SmallFilledButton.css.ts
  src/shared/components/creditBox/CreditBox.css.ts
  src/shared/components/creditBox/CreditBox.tsx
  src/shared/components/loading/Loading.css.ts
  src/shared/components/loading/Loading.tsx
  src/shared/constants/queryKey.ts
  src/shared/hooks/useCreditGuard.ts
  src/shared/hooks/useErrorHandler.ts
  src/shared/types/error.ts
Labels: 🤙 경호, 💫 Feature

#232 [feat] 무드보드 이미지 최적화 적용
  src/pages/mypage/hooks/useMypage.ts
  src/pages/onboarding/apis/step3.ts
  src/pages/onboarding/components/steps/step2/FloorPlan.tsx
  src/pages/onboarding/components/steps/step3/MoodBoard.tsx
  src/pages/onboarding/hooks/useStep3Api.hooks.ts
  src/shared/components/card/cardHistory/CardHistory.css.ts
Labels: 💫 Feature, 🤙 지성

#237 [style] assets 추가
  src/pages/home/HomePage.css.ts
  src/pages/home/components/introSection/IntroSection.css.ts
  src/pages/home/components/introSection/IntroSection.tsx
  src/pages/home/types/options.ts
  src/pages/login/LoginPage.tsx
  src/pages/login/loginPage.css.ts
  src/pages/signup/SignupCompletePage.css.ts
  src/pages/signup/SignupCompletePage.tsx
  src/shared/assets/icons/loginAfter.png
  src/shared/assets/icons/loginBefore.png
  src/shared/assets/images/landingHomeCafe.png
  src/shared/assets/images/landingMovie.png
  src/shared/assets/images/landingRemoteWork.png
  src/shared/assets/images/landingRest.png
Labels: 🎨 Style, 🤙 소이

#242 [refactor] 무드보드 이미지 prefetching 시점 변경
  src/pages/onboarding/components/steps/step2/FloorPlan.tsx
  src/pages/onboarding/hooks/useStep2FloorPlan.hooks.ts
Labels: 💫 Feature, 🤙 지성

#254 [style] fadeinup 애니메이션 구현
  src/pages/generate/components/loading/LoadingPage.css.ts
  src/pages/generate/components/result/ResultPage.css.ts
  src/pages/home/components/introSection/IntroSection.css.ts
  src/pages/login/loginPage.css.ts
  src/pages/onboarding/components/header/FunnelHeader.css.ts
  src/pages/onboarding/components/steps/StepCommon.css.ts
  src/pages/onboarding/components/steps/step2/FloorPlan.css.ts
  src/pages/onboarding/components/steps/step3/MoodBoard.css.ts
  src/pages/signup/SignupCompletePage.css.ts
  src/pages/signup/SignupPage.css.ts
  src/shared/styles/tokens/animation.css.ts
Labels: 🎨 Style, 🤙 성하

#252 [refactor] 랜딩/로그인/회원가입 QA 논의사항 반영
  src/pages/home/HomePage.css.ts
  src/pages/home/components/introSection/IntroSection.css.ts
  src/pages/login/LoginPage.tsx
  src/pages/login/loginPage.css.ts
  src/pages/signup/SignupPage.css.ts
  src/shared/components/navBar/LogoNavBar.tsx
Labels: 🤙 성하, 🛠️ Refactor

#259 [style] 이미지 비율, nav 여백 수정
  src/pages/generate/components/result/ResultPage.css.ts
  src/shared/components/navBar/LogoNavBar.css.ts
  src/shared/components/navBar/LogoNavBar.tsx
Labels: 🎨 Style, 🤙 소이

#260 [style] 모달 창 애니메이션 구현
  src/shared/components/overlay/modal/Modal.css.ts
Labels: 🎨 Style, 🤙 성하
